@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

header{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.header_content{
    display: flex;
    justify-content: space-between;
    width: 78.8%;
    height: 67px;
    color: white;
}

.logo{
    font-size: 36px;
    margin-top: 9px;
}

.logo:hover{
    cursor: pointer;
}

#it_logo{
    color:#ff8b38;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 42px;
    margin-top: 23px;
    font-size: 14px;
}

nav ul li:hover{
    cursor: pointer;
    color: #ff8b38;
}

.insert_pic{
    height: 55px;
    color: #b0b0b0;
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
    font-size: 31px;
    word-spacing: 6px;
    letter-spacing: 1px;
    padding: 47px 0 0 0;
}

.insert_pic:hover{
    cursor: pointer;
}

main{
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 134px;
}

.main_content{
    display: flex;
    flex-direction: row;
    width: 78.8%;
}

.logo_left{
    font-size: 78px;
    line-height: 60px;
}

.main_left_content{
    font-family: 'Raleway', sans-serif;
    margin-top: 28px;
    font-size: 32px;
    width: 71%;
    letter-spacing: 2px;
    word-spacing: -1px;
    line-height: 40px;
}

.white_line{
    width: 8.5%;
    margin: 32px 0 0 3px;
    background-color: white;
    height: 2px;
}

.lorem_main_content{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 28px;
    width: 65%;
    margin-top: 35px;
    line-height: 22px;
}

#dwn{
    background-color: transparent;
    border: 2px solid white;
    margin: 39px 0 0 0;
    padding: 8px 8px 8px 8px;
    color: white;
    width: 18.5%;
    font-size: 15px;
}

#dwn:hover{
    cursor: pointer;
}

#dwn:active{
    background-color: #ff8b38;
}

.right_main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 54.3%;
    margin-top: 32px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.right_main_content_header{
    width: 100%;
    color: black;
    background-color: #f5f5f5;
    font-size: 19px;
    font-weight: bold;
    word-spacing: 1px;
    padding: 14px 0 13px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

input:focus{
    outline: 0;
}

.right_main_content input{
    width: 78%;
}

#first_inp{
    margin-top: 35px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

#first_inp::placeholder{
    padding-left: 5%;
}

#second_inp{
    margin-top: 41px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

#third_inp::placeholder{
    padding-left: 5%;
}

#third_inp{
    margin-top: 51px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

#second_inp::placeholder{
    padding-left: 5%;
}

#color_free{
    color: #ff8b38;
}

#started{
    width: 100%;
    height: 52px;
    margin-top: 46px;
    background-color: #ff9b51;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
}

#started:hover{
    cursor: pointer;
}

#started:active{
    background-color:#d6d6d6;
}

.social_media{
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 3px solid #b7b7b7;
}
.social_media_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 99px;
    width: 78.8%;
}

.right_social_media ul li:hover{
    cursor: pointer;
}

.left_social_media{
    width: 37%;
}

.social_media_header{
    font-weight: bold;
    color: #333333;
    font-size: 20px;
    margin: 16px 0 0 0;
}

.social_media_text{
    font-size: 14px;
    line-height: 21px;
    color: #86878b;
}

.right_social_media{
    margin: 25px 0 0 0;
    width: 59.2%;
}

.right_social_media ul li{
    display: inline; 
}

.right_social_media ul li:not(:first-child){
    margin-left: 8%;
}

#facebook{
    width: 200%;
    height: 100px;
}

.tabs{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    height: 573px;
}

.tabs_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 141px 0 0 0;
}

.tabs_numbers ul li{
    list-style-type: none;
    display: block;
    width: 106px;
    background-color: #ff8b38;
    border-bottom: 1px solid #c7c7c7;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 40% 0 40% 0;
}

.tabs_numbers ul li:hover{
    cursor: pointer;
}

.tabs_bottom{
    border-bottom: 1px solid #c7c7c7 ;
}

.tabs_numbers ul li:not(:first-child){
    list-style-type: none;
    display: block;
    background-color: #333333;
    width: 106px;
    font-weight: bold;
    padding: 40% 0 40% 0;
}

.tabs_content_center{
    width: 44%;
    margin: 0 0 0 2%;
}

.tabs_header{
    margin: 2px 0 0 0;
    font-weight: bold;
    font-size: 20px;
    word-spacing: -2px;
}

#tabs_first_text{
    margin: 45px 0 0 0;
}

#tabs_second_text{
    margin: 20px 0 0 0;
}

.together_class{
    font-size: 14px;
    color: #8d8e92;
}

#tabs_download{
    margin: 46px 0 0 0;
    height: 45px;
    width: 24.5%;
    background-color: #ff8b38;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5%;
}

#tabs_download:hover{
    cursor: pointer;
}

#tabs_download:active{
    background-color: #d6d6d6;
}

.tabs_pictures{
    margin: 22px 0 0 0;
}